<div class="example-container mat-elevation-z8">
  <mat-drawer-container class="drawer-container">
    <mat-drawer #sidenav mode="side" opened class="left-drawer">
      <div *ngIf="this.user != null && user.type == 'admin'">
        <h2>Admin Settings</h2>
        <form class="room-settings-form" [formGroup]="roomForm" (ngSubmit)="onFormSubmit(roomForm.value)">
          <mat-form-field>
            <mat-label>Max speaking time (minutes)</mat-label>
            <input matInput [value]=room.max_speaking_mins formControlName="max_speaking_mins">
          </mat-form-field>
          <button mat-button type="submit" aria-label="Update room">Update</button>
        </form>
        <button mat-raised-button color="primary" (click)="resetAuction(true)">RESET EVERYTHING</button>
        <button mat-raised-button color="warn" (click)="deleteBidHistory()">DELETE ALL BID HISTORY</button>
      </div>
      <div class="users-pane">
        <h2>Discussion Members</h2>
        <form [formGroup]="topupForm" (ngSubmit)="topUp(topupForm.value)" *ngIf="user != null && user.type == 'admin'">
          <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount">
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="topUp">Top up all participants</button>
        </form>
        <mat-card class="users-card" *ngFor="let user of users">
          <mat-icon>person</mat-icon> <span class="username">{{user.nickname}}</span>
        </mat-card>
        <button mat-raised-button color="primary" *ngIf="user != null && user.type == 'admin'" (click)="createCDs()">Reset CDs</button>
      </div>

      <b>Bid submit type:</b>
      <mat-slide-toggle ngDefaultControl [(ngModel)]="releaseSubmit">{{ releaseSubmit ? "on slider release" : "on button click" }}</mat-slide-toggle><br><br>
      <button mat-raised-button aria-label="Exit" (click)="exitChat()">
        Exit Room
      </button>
    </mat-drawer>

    <mat-drawer-content class="chat-pane">
      <button type="button" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <button class="topright" mat-icon-button (click)="helpDialog()"><mat-icon>help_outline</mat-icon></button>
      <div class="bid-area">
        <h3>Hello, {{nickname}}</h3>
        <div *ngIf="user != null && user.type == 'admin'; else nonAdmin">
          <button mat-raised-button color="primary" [disabled]="status != 'closed'" (click)="startDiscussion()">Start discussion</button>
          <button mat-raised-button color="primary" [disabled]="status == 'closed'" (click)="endDiscussion()">End discussion</button>
          <h3>Current Bids</h3>
          
          <table mat-table [dataSource]="all_bids" class="mat-elevation-z8 full-width">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Participant </th>
              <td mat-cell *matCellDef="let element"> {{this.userId2Nickname.get(element.user)}} </td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Bid amount </th>
              <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>
        <div *ngIf="userId == this.current_speaker; else elseBlock">
          <h3>You are currently speaking</h3>
          <button mat-raised-button color="warn" (click)="finishSpeaking(null)">End my turn</button>
        </div>
        <div *ngIf="user != null && user.type == 'admin'">
          <button mat-raised-button color="primary" [disabled]="cd_status == 'paused' || room.current_speaker == 'no one'" (click)="pauseSpeaker()">Pause Speaker</button>
          <button mat-raised-button color="primary" (click)="resumeSpeaker()" [disabled]="cd_status != 'paused' || room.current_speaker == 'no one'">Resume Speaker</button>
        </div>
        <!-- <countdown #countdown [config]="{ leftTime: this.cd_time, format: 'm:ss' }" (event)="finishSpeaking($event)"></countdown> -->
        <countdown #countdown [config]="this.cd_config" (event)="finishSpeaking($event)"></countdown>
        <ng-template #elseBlock>
          <h3>Currently speaking: {{userId2Nickname.get(room.current_speaker)}}</h3>
        </ng-template>
        <ng-template #nonAdmin>
          <h2 *ngIf="this.all_bids != null && this.all_bids.length; else emptyBids" > Current top bid: {{this.all_bids[0].amount}}</h2>
          <ng-template #emptyBids>Current top bid: 0</ng-template>

          <h3>Endowment Remaining: {{this.endowment}}</h3>
          <div *ngIf="!releaseSubmit">
            <mat-slider #bidSlider [disabled]="status == 'closed'" [max]="endowment" [min]=0 [step]=1 [thumbLabel]=true></mat-slider>
            <button mat-raised-button [disabled]="status == 'closed'" (click)="makeBid(bidSlider.value)">Bid!</button>
          </div>
          <div *ngIf="releaseSubmit">
            <mat-slider #bidSlider [disabled]="status == 'closed'" [max]="endowment" [min]=0 [step]=1 (slideend)="makeBid(bidSlider.value)" (pointerup)="makeBid(bidSlider.value)" [thumbLabel]=true></mat-slider>
          </div>
          <h3 *ngIf="this.user != null">My Bid: {{this.user.current_discussion.bid}}</h3>
          <h4 *ngIf="bid_position > -1 && room.current_bids != null">You are {{bid_position | ordinal}} in line to speak.</h4>
        </ng-template>
      </div>
      <mat-card class="width80 center-in-parent" *ngIf="show_mat_card">
        <h3>Your stats from last discussion:</h3>
        <h5>Total time spoken: {{userStats['timeSpoken']}} seconds</h5>
        <h5>Average time spoken: {{userStats['avgTS']}} seconds</h5>
        <h5>Total endowment spent: {{userStats['spent']}}</h5>
        <h5># of bids: {{userStats['numBids']}}</h5>
      </mat-card>
      <mat-card class="width80 center-in-parent" *ngIf="show_global_stats">
        <h3>Global room stats from last discussion:</h3>
        <h5>Average total time spoken: {{globalStats['avgTS']}} seconds</h5>
        <h5>Average bid amount: {{globalStats['avgBid']}}</h5>
      </mat-card>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
